.nav{
    width: 100vw;
    height: 11vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    gap: 50px;
    align-items: center;
}

.navigator{
    margin-top: 11vh;
    width: 20vw;
    height: 89vh;
    /* background-color: rgb(206, 206, 206); */
    position: fixed;
}

.logo{
    width: 75px;
    filter: grayscale(1);
}

.findInput{
    height: 30px;
}

.ul{
    list-style: none;
    margin: 0;
}

.li{
    margin: 0;
    font-size: 1.3em;
    padding: 15px;
    cursor: pointer;
    /* text-align: center; */
}

.flexContainer{
    display: flex;
}

.panelContainer{
    /* background-color: blue; */
    margin-left:20vw;
    margin-top:11vh;
    width: 80vw;
    height: 89vh;
    position: relative;
}