.topTd{
    border-top: 2px solid rgb(207, 207, 207);
    border-bottom: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(207, 207, 207);
    background-color: #e8e8e8;
    margin:0;
    padding: 10px 25px;
    text-align: center;
    font-weight: 600;
}

.topTd:first-child{
    border-left: 2px solid rgb(207, 207, 207);
}

.td {
    border-bottom: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    background-color: #ffffff;
    margin:0;
    padding: 10px 15px;
}

.td:first-child{
    border-left: 2px solid #dbdbdb;
}

table{
    border-spacing: 0;
    /* margin: 0 auto; */
}

/* Clinic history */

.clinicHistory{
    display: flex;
    /* background-color: red; */
    width: 700px;
    justify-content: space-between;
    text-align: justify;
    margin: 0 auto;
}

.column{
    max-width: 300px;
    min-width: 300px;
}

.textarea{
    min-width: 400px;
    min-height: 150px;
    max-width: 400px;
    max-height: 150px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
}

.button{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: black;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    /* margin-left: 10px; */
}

.button:hover{
    background-color: white;
    color: black;
}

.consentimientos{
    /* display: flex; */
    align-items: center;
    gap: 90px;
    margin: 0 auto;
    /* justify-content: space-around; */
}

.evolucion{
    margin: 0 auto;
}

.imgIcon{
    width:100px

}

.texto{
    margin: 0;
}

.pacientes{
    text-align: center;
}

.tabla{
    margin: 0 auto;
}